.dropdown-menu,
.dropdown-item,
.dropdown {
  width: 100%;
  margin: 0;
  padding: 0;
}

.dropdown-menu .dropdown input {
  cursor: pointer;
}
.dropdown-menu .dropdown-item {
  padding: 0.6em 1em;
  font-size: 0.9em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.dropdown-menu .selected {
  background-color: #f4f4f4;
  color: darkgrey;
}

.dropdown-menu .selected:hover {
  background-color: #f4f4f4;
  color: darkgrey;
}

.check {
  display: none;
  margin-right: 0.7em;
}
