@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* --black: #252525; */
  --button: #0cfeff;
  /* --black: black; */
  /* --black: #0d1717; */
  --black: white;
}

body {
  background-color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: var(--black);
  height: 4em;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  color: #0d1717;
  padding: 0.8em 4em 0 4em;
  box-shadow: 0.2em 0.2em 0.4em grey;
  z-index: 10000;
}

.nav .logo {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav .logo img {
  width: 1.5em;
  height: 1.7em;
  margin-right: 0.3em;
}

.nav h3 {
  font-size: 1.2em;
  /* color: #787bff; */
}

.nav-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 2em;
}

.nav-nav li a {
  text-decoration: none;
  color: #0d1717;
  font-size: 1em;
}

body::-webkit-scrollbar {
  width: 0.4em; /* Set the width of the scrollbar */
  background: transparent; /* Set the background color of the scrollbar */
  transition: width 0.5s; /* Add a transition for smooth animation */
}

/* Track styles */
body::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

/* Handle styles */
body::-webkit-scrollbar-thumb {
  background: #888; /* Color of the handle */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}

/* Hide the scrollbar when not scrolling */
body.no-scroll-bar::-webkit-scrollbar {
  width: 0; /* Set width to 0 to hide the scrollbar */
}

.nav-nav-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav-nav-nav h4 {
  font-size: 1em;
  margin-right: 0.6em;
}
.nav-nav-nav h4:hover {
  transform: scale(0.9);
}

.nav-nav-nav h4 a {
  text-decoration: none;
  color: #000;
}

/* cursor */
.nav-nav-nav h4,
.nav-nav-nav i,
.nav-nav .nav-btn {
  cursor: pointer;
}

.nav-nav .nav-btn:hover {
  border: none;
  border-bottom: 3px solid #000;
}

.nav-nav .active1 {
  color: #787bff;
}

.nav-nav .active {
  border: none;
  border-bottom: 3px solid#787bff;
}

.body {
  width: 93em;
  padding: 1em 1em;
  margin-top: 0.5em;
  /* background-color: red; */
  height: 120vh;
  margin: auto;
  margin-top: 0.4em;
}

.body .divider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 2em;
}

.body .headings {
  text-align: center;
}

.body .divider .left h5 {
  text-align: left;
  margin: 0;
}

.body .divider .left {
  padding: 1em 1.5em;
  width: 30%;
  /* height: 100vh; */
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0.2em 0.2em 1em rgba(211, 211, 211, 0.7);
}

.body .divider .left .filter-wrapper {
  background-color: #f4f4f4;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  text-align: left;
  gap: 0.4em;
  border-radius: 6px;
  justify-content: flex-end;
  /* color:; */
}

#refresh {
  position: absolute;
  top: 6.3em;
  left: 7.5em;
  font-size: 1.5em;
  cursor: pointer;
}

#refresh:hover {
  transform: scale(0.96);
  color: rgb(5, 153, 5);
}

.body .divider .left .filter-wrapper .roww {
  display: flex;
  align-items: left;
  gap: 0.7em;
  /* flex-direction: row; */
}

.body .divider .left .filter-wrapper input[type='checkbox'] {
  position: relative;
}

.body .divider .left .filter-wrapper .body .divider .left .filter-wrapper input[type='date'] {
  margin-bottom: 0.5em;
}

.body .divider .right1 {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 1em;
}

.body .divider .right {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 6px;
  padding: 1em;
  /* height: 40vh; */
  background-color: #ffffff;
  box-shadow: 0.2em 0.2em 1em rgba(211, 211, 211, 0.7);
}

.body .divider .right .room-pic .list {
  width: 25em;
  height: auto;
  border-radius: 5px;
}

.body .divider .right .room-info {
  width: 30%;
  text-align: left;
  /* background-color: red; */
}

.body .divider .right .room-info .roow-f {
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* background-color: green; */
  width: 100%;
}

.body .divider .right .room-info h6,
.body .divider .right .room-info h4 {
  color: #787bff;
}

.body .divider .right .room-info h6 {
  margin: 0;
  margin-top: 0.8em;
}

.body .divider .right .room-btn {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.body .divider .right .room-btn button {
  width: 90%;
}

.body .divider .right .room-btn .more {
  padding: 0.4em;
  border: 1px solid grey;
  border-radius: 4px;
  margin-top: 0.4em;
  font-weight: 500;
}

.body .divider .right .room-btn .more:hover {
  transform: translateY(-2px);
}

.body .intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.body .intro h1 {
  font-size: 3em;
  /* padding-top: 3em; */
}
.body h1 {
  font-size: 1.7em;
}
.body .intro img {
  height: 29em;
  width: auto;
  border-radius: 260px 0px 110px 30px;
  box-shadow: 0.1em 0.1em 2em grey;
}

.list-room {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
  margin: 1em 0 3em 0;
}

.list-room .a-list,
.c-list {
  height: 31em;
  width: 26em;
}

.list-room .a-list .list,
.list-room .c-list .list {
  height: 31em;
  width: 26em;
  border-radius: 4px;
  box-shadow: 0.2em 0.2em 1em grey;
}

.list-room .b-list {
  height: 31em;
  width: 34em;
}
.list-room .b-list .list {
  height: 31em;
  width: 34em;
  border-radius: 4px;
  box-shadow: 0.2em 0.2em 1em grey;
}

.section3 {
  margin: 3em 0;
  height: 10em;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
  padding: 0 3em;
  box-shadow: 0.2em 0.2em 1em grey;
}

.section3 h5 {
  font-size: 1em;
  margin-bottom: 1em;
}

.section3 h6 {
  font-size: 0.8em;
}

.section3 .contact {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.vertical-hr {
  transform: rotate(90deg);
  margin: 0 auto;
  width: 6em;
}

.section4 {
  margin: 1em 0 3rem 0;
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Room */

.body .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0.1em 0.1em 0.8em grey;
  gap: 1em;
  padding: 1em 2em;
  margin-inline-start: auto;
  width: 30%;
  margin-bottom: 4em;
}

.body .room-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: auto;
}

.weather-container {
  height: 12em;
  width: 28em;
  position: absolute;
  background-image: linear-gradient(180deg, #5a78fc, #ced4ec);
  /* background-color: #5a78fc; */
  box-shadow: 5px 5px 10px rgba(119, 119, 119, 0.4);
  border-radius: 0 0 100% 100%;
  top: 4em;
  left: 7em;
  padding: 1em 6em 1em 5em;
  color: #ffffff;
}
#weather-icon {
  height: 4em;
  width: auto;
  position: absolute;
  top: 4.5em;
  left: 22em;
}
.weather-container h6,
.weather-container h5 {
  margin: 0.1em;
}

.weather-container p {
  margin-top: 0.8em;
}
.weather-container span {
  position: absolute;
  top: 6.1em;
  left: 5em;
}
.weather-container h1 {
  position: absolute;
  top: 2.9em;
  left: 7em;
  font-size: 2em;
}

#location {
  height: 1.5em;
  width: auto;
  position: absolute;
  top: 1em;
  left: 3em;
}

.body .room-list .card {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 65%;
  height: 20em;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0.2em 0.2em 0.8em grey;
  padding: 2em 1em;
  gap: 1.5em;
  border: none;
}

.body .room-list .card .left img {
  height: 16em;
  width: auto;
}

.profile-box span {
  margin: 1em 0 0 0.5em;
}

.profile-box #user-prof {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}
.profile-box .prof {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin-top: 0.4em;
}

.profile-box .prof:hover,
.profile-box button:hover {
  background-color: lightgrey;
}

.profile-box button {
  padding: 0.5em 2.5em;
  text-align: left;
  margin: none;
  border: none;
  outline: none;
  background-color: #f4f4f4;
  width: 100%;
}

.profile-box {
  top: 3.5rem;
  background-color: #f4f4f4;
  width: 12em;
  position: absolute;
  display: flex;
  right: 4.3em;
  flex-direction: column;
  gap: 0.5em;
  box-shadow: 0.3em 0.3em 1em grey;
  display: none;
  pointer-events: none;
  border-radius: 7px;
}

.profile-box button:hover {
  transform: scale(0.96);
}

#r_img {
  border-radius: 6px;
  box-shadow: 0.2em 0.2em 1em rgba(211, 211, 211, 0.5);
}

.main {
  display: flex;
  flex-direction: row;
}

.date {
  width: 100%;
}

.main-container {
  width: 75%;
  margin: auto;
  padding: 1em;
  overflow: hidden;

  height: 250vh !important;
}

.main-container .head {
  display: flex;
  justify-content: center;
}

.main-container .head img {
  height: 35em;
  border-radius: 5px;
  box-shadow: 0.2em 0.2em 1em rgba(1, 1, 1, 0.5);
}

.main-container .body {
  padding: 2em 30em 2em 11em;
}

.main-container .arrow {
  font-size: 3em;
  margin: 0 0.5em;
  margin-top: 5em;
  cursor: pointer;
}

.main-container .aminities,
.main-container .feature {
  box-shadow: 0.2em 0.2em 1em rgba(211, 211, 211, 0.5);
  width: 100%;
  padding: 2em 3em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
}

.main-container .aminities i,
.main-container .feature i {
  font-size: 1.4em !important;
  padding-right: 0.2em;
  color: rgb(149, 241, 11);
}

.main-container .aminities label,
.main-container .feature label {
  font-size: 1.2em;
}

.notavailable {
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0.2em 0.2em 1em rgba(90, 90, 90, 0.3);
  margin: 0 0.5em;
}

.notavialablelist {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
